
@media (max-width:540px){
    textarea{
    width:100%;
    }
    #upload_image{
        width: 60%;
    }
    container .btn{
        width: 30%;
    }
}

h1{
    text-align: center;
}

.btn.btn-light {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    border-radius: 35px;
}