.inventory{
    height: 200px;
    width: auto;
}

.content{
    border: 1px solid black;
}

.checked {
    color: orange;
}

img.img-thumbnail.inventory {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.add-to-cart {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    border-radius: 35px;
}
hr{
    border-color:lightgray;
}
.col-4, .col-8{
    padding-top: 10px;
}

