.container{
    padding-top: 50px;
}

#loginform{
    padding: 10px;
    border: 1px solid black;
    width: 300px;
}

@media (max-width:320px){
.container{
        padding-left: 9px;
    } 
}

@media (min-width:321px){
.container{
        padding-left: 25px;
    } 
}
@media (min-width:321px){
.container{
        padding-left: 33px;
    } 
}

@media (min-width:400px){
.container{
        padding-left: 55px;
    } 
}

.btn.btn-light {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    border-radius: 35px;
}